---
---
    <div class="certifications-skills">
        <div class="content-certifications">
            <div class="card-certification">
                <h4 class="titlecard-certification">Curso de Creación de Temas para WordPress</h4>
                <div class="tecnologiescard-certification">
                    <img src="/src/icons/wordpress_iconblue.svg" alt="wordpress logo" class="icon-certification">
                    <img src="/src/icons/php_iconblue.svg" alt="php logo" class="icon-certification">
                    <img src="/src/icons/html_iconblue.svg" alt="html logo" class="icon-certification">
                </div>
            </div>
            <div class="card-certification">
                <h4 class="titlecard-certification">Curso de Creación de Temas para WordPress</h4>
                <div class="tecnologiescard-certification"></div>
            </div>
            <div class="card-certification">
                <h4 class="titlecard-certification">Curso de Creación de Temas para WordPress</h4>
                <div class="tecnologiescard-certification"></div>
            </div>
            <div class="card-certification">
                <h4 class="titlecard-certification">Curso de Creación de Temas para WordPress</h4>
                <div class="tecnologiescard-certification"></div>
            </div>
            <div class="card-certification">
                <h4 class="titlecard-certification">Curso de Creación de Temas para WordPress</h4>
                <div class="tecnologiescard-certification"></div>
            </div>
        </div>

<style>
    :root {
    --verde_platzi: #0AE98A;
    --azul_platzi: #13161C;
    --violeta_platzi: #6750a4;
    --violeta-opacity: rgba(103, 80, 164, 0.2);
}
.content-certifications{
    width: 100%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background: var(--verde_platzi);
}
.card-certification{
    width: 130px;
    height: 130px;
    display: flexbox;
    justify-content: center;
    border: 2px dashed var(--azul_platzi);
    border-radius: 5px;
    margin: 6px;
}
.titlecard-certification{
    width: 80px;
    height: 64px;
    font-size: 10px;
    color: var(--azul_platzi);
    margin: auto;
}
.tecnologiescard-certification{
    width: 80px;
    height: auto;
    padding: 6px;
    border-top: 2px dashed var(--azul_platzi);
    display: flex;
    justify-content: center;
}
.icon-certification{
    width: 16px;
    height: 16px;
    margin: auto;
}
</style>