---
import { Image } from 'astro:assets';
// Importar todos los iconos desde la carpeta public
import IconAstro from '/public/astro_iconblue.svg';
import IconWordpress from '/public/wordpress_iconblue.svg';
import IconBoostrap from '/public/boostrap_iconblue.svg';
import IconPhp from '/public/php_iconblue.svg';
import IconHtml from '/public/html_iconblue.svg';
import IconCss from '/public/css_iconblue.svg';
import IconJs from '/public/js_iconblue.svg';
import IconNotion from '/public/notion_iconblue.svg';
import IconFigma from '/public/figma_iconblue.svg';
import IconWebflow from '/public/webflow_iconblue.svg';

//Languages
// import IconPhp from '/public/php_iconblue.svg';
// import IconHtml from '../icons/html_iconblue.svg';
// import IconCss from '/../icons/css_iconblue.svg';
// import IconJs from '../icons/js_iconblue.svg';

//Tools
//import IconNotion from '../icons/notion_iconblue.svg';
//import IconFigma from '../icons/figma_iconblue.svg';

//CMC
//import IconWebflow from '../icons/webflow_iconblue.svg'
---

<div class="content-icons">
    <span class="subcontent-icons" id="frameworks">
        <img src="/public/astro_iconblue.svg" alt="Astro logo" width="32" height="32" />
        <img src="/public/wordpress_iconblue.svg" alt="WordPress logo" width="32" height="32" />
        <img src="/public/boostrap_iconblue.svg" alt="Bootstrap logo" width="32" height="32" />
    </span>
    <span class="subcontent-icons" id="languages">
        <img src="/public/js_iconblue.svg" alt="JavaScript logo" width="32" height="32" />
        <img src="/public/html_iconblue.svg" alt="HTML logo" width="32" height="32" />
        <img src="/public/css_iconblue.svg" alt="CSS logo" width="32" height="32" />
        <img src="/public/php_iconblue.svg" alt="PHP logo" width="32" height="32" />
    </span>
    <span class="subcontent-icons" id="tools">
        <img src="/public/figma_iconblue.svg" alt="Figma logo" width="32" height="32" />
        <img src="/public/notion_iconblue.svg" alt="Notion logo" width="32" height="32" />
    </span>
    <span class="subcontent-icons" id="cms">
        <img src="/public/webflow_iconblue.svg" alt="Webflow logo" width="32" height="32" />
    </span>
</div>

<style>
    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .content-icons{
    }
    .subcontent-icons{
        width: auto;
        padding: 8px;
        margin: 8px;
        display: inline-flex;
        gap: 20px;
        background: #0ae98a;
        border-radius: 10px;
    }
    img{
        width: 35px;
        height: 35px;
    }
</style>